.about {
  width: 600;
}

.profileCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

p {
  margin: 2rem;
}

.dark {
  color: var(--color-grey-light-4);
  h1 {
    color: var(--color-grey-light-1);
  }
  h2 {
    color: var(--color-grey-light-4);
  }
}
