.table {
  position: relative;
  width: 100%;
  margin: 10px;
}

td,
th {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.address {
  width: 400px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.tableMain {
  position: relative;
}
