button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  transition: all 0.2s ease-in;
}
