.card {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow-light);
}

.dark {
  padding: 20px;
  background: #f3f0ff;
  border-radius: 10px;
  box-shadow: var(--shadow-light);
  color: #2d2d2d;
}
